<!DOCTYPE HTML>
<html>

<head>
    <title>Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="My Play Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript">
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);

    function hideURLbar() { window.scrollTo(0, 1); }
    </script>
    <!-- bootstrap -->
    <link href="{{ url_for('static', filename='xvlvtao/system/css/bootstrap.min.css') }}" rel='stylesheet' type='text/css' media="all" />
    <!-- //bootstrap -->
    <link href="{{ url_for('static', filename='xvlvtao/system/css/dashboard.css') }}" rel="stylesheet">
    <!-- Custom Theme files -->
    <link href="{{ url_for('static', filename='xvlvtao/system/css/style.css') }}" rel='stylesheet' type='text/css' media="all" />
    <script src="{{ url_for('static', filename='xvlvtao/system/js/jquery-1.11.1.min.js') }}"></script>
    <!--start-smoth-scrolling-->
    <!-- fonts -->
<!--     <link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Poiret+One' rel='stylesheet' type='text/css'> -->
    <!-- //fonts -->
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}"><h1><img src="{{ url_for('static', filename='xvlvtao/system/images/logo.png') }}" alt="" /></h1></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="top-search">
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Search...">
                        <input type="submit" value=" ">
                    </form>
                </div>
                <div class="header-top-right">
                    <div class="file">
                        <a href="{{ url_for('upload_file') }}">Upload</a>
                    </div>
                    <div class="signin">
                        <a href="#small-dialog2" class="play-icon popup-with-zoom-anim">Setting</a>
                        <!-- pop-up-box -->
                        <script type="text/javascript" src="{{ url_for('static', filename='xvlvtao/system/js/modernizr.custom.min.js') }}"></script>
                        <link href="{{ url_for('static', filename='xvlvtao/system/css/popuo-box.css') }}" rel="stylesheet" type="text/css" media="all" />
                        <script src="{{ url_for('static', filename='xvlvtao/system/js/jquery.magnific-popup.js') }}" type="text/javascript"></script>
                        <!--//pop-up-box -->
                        <div id="small-dialog2" class="mfp-hide">
                            <h3>Personal Message</h3>
                            <div class="social-sits">
                                <div class="facebook-button">
                                    <a href="#">Connect with Facebook</a>
                                </div>
                                <div class="chrome-button">
                                    <a href="#">Connect with Google</a>
                                </div>
                                <div class="button-bottom">
                                    <p>You can invite friends these acounts </p>
                                </div>
                            </div>
                            <div class="signup">
                                <form>
                                    <input type="text" class="email" placeholder="Mobile Number" maxlength="10" pattern="[1-9]{1}\d{9}" title="Enter a valid mobile number" />
                                </form>
                                <div class="continue-button">
                                    <a href="#small-dialog3" class="hvr-shutter-out-horizontal play-icon popup-with-zoom-anim">COMPLETE</a>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div id="small-dialog3" class="mfp-hide">
                            <h3>Thank You!</h3>
                            <p> All Messages have been collected!</p>
                            <div class="clearfix"> </div>
                        </div>
                        <div id="small-dialog7" class="mfp-hide">
                            <h3>Thank You!</h3>
                        </div>
                        <script>
                        $(document).ready(function() {
                            $('.popup-with-zoom-anim').magnificPopup({
                                type: 'inline',
                                fixedContentPos: false,
                                fixedBgPos: true,
                                overflowY: 'auto',
                                closeBtnInside: true,
                                preloader: false,
                                midClick: true,
                                removalDelay: 300,
                                mainClass: 'my-mfp-zoom-in'
                            });

                        });
                        </script>
                    </div>
                    <div class="signin">
                        <a href="#small-dialog" class="play-icon popup-with-zoom-anim">Log Out</a>
                        <div id="small-dialog" class="mfp-hide">
                            <h3>Log Out</h3>
                            <p>Log out successfully!</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
    </nav>
    <!-- upload -->
    <div class="upload">
        <!-- container -->
        <div class="container">
            <div class="upload-grids">
                <div class="upload-right">
                    <div class="upload-file">
                        <div class="services-icon">
                            <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                        </div>
                        <form id="123456" method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <script type="text/javascript">
                        	function UploadFile() {
                        		document.getElementById('123456').submit()
                        	}
                        </script>
                        <input type="file" multiple="multiple" name="file" value="Choose file.." onchange="javascript:UploadFile();">
                        </form>
                    </div>
                    <div class="upload-info">
                        <h5>Select files to upload</h5>
                        <span>or</span>
                        <p>Drag and drop files</p>
                    </div>
                </div>
                <!-- //upload -->
                <!-- footer -->
                <div class="footer">
                    <div class="footer-grids">
                        <div class="footer-top">
                            <div class="footer-top-nav">
                                <ul>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Press</a></li>
                                    <li><a href="#">Copyright</a></li>
                                    <li><a href="#">Creators</a></li>
                                    <li><a href="#">Advertise</a></li>
                                    <li><a href="#">Developers</a></li>
                                </ul>
                            </div>
                            <div class="footer-bottom-nav">
                                <ul>
                                    <li><a href="#">Terms</a></li>
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#small-dialog4" class="play-icon popup-with-zoom-anim">Send feedback</a></li>
                                    <li><a href="#">Policy & Safety </a></li>
                                    <li><a href="#">Try something new!</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-bottom">
                            <ul>
                                <li class="languages">
                                    <select class="form-control bfh-countries" data-country="US">
                                        <option value="">Select Language</option>
                                        <option>English</option>
                                        <option>Chinese</option>
                                    </select>
                                </li>
                                <li><a href="#small-dialog5" class="play-icon popup-with-zoom-anim f-history f-help">Help</a></li>
                        </div>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- //footer -->
        </div>
        <div class="clearfix"> </div>
        <div class="drop-menu">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Regular link</a></li>
                <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled link</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another link</a></li>
            </ul>
        </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ url_for('static', filename='xvlvtao/system/js/bootstrap.min.js') }}"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
</body>

</html>