<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>jquery+html5视频播放器插件 - 站长素材</title>
    <link href="{{ url_for('static', filename='xvlvtao/jiaoben1734/css/flat-ui.css') }}" rel="stylesheet">
</head>

<body>
    {% if m.mtype == 'mp4' %}
    <div class="container" style="margin:20px auto;">
        <div class="span8 demo-video">
            <video class="video-js" controls preload="auto" width="620" height="256" poster="{{ url_for('static', filename='xvlvtao/jiaoben1734/images/video/poster.jpg') }}" data-setup="{}">
                <source src="{{ m.furl }}" type='video/mp4' />
                <source src="http://sc.chinaz.com/oceans-clip.webm" type='video/webm' />
            </video>
        </div>
    </div>
    {% elif m.mtype == 'mp3' %}
    <audio src="{{ m.furl }}" controls="controls"></audio>
    {% else %}
    <img src="{{ m.furl }}"> {% endif %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='xvlvtao/jiaoben1734/js/video.js') }}"></script>
</body>

</html>